

.navbar {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	margin-bottom: 4rem;
}

.alchemy_logo{
	width: 6rem;
}

.links {
	display: flex;
	align-items: center;
	margin-left: auto;
	gap: 2rem;
}